html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-top:10%;;
  /* text-align: center; */
  width: 50%;
}

form {
  width: 100%;
}

.textarea {
  border-radius: 5px;
  height: 150px;
  margin-top: 5px;
  width: 100%;
}

#form-submit {
  background-color: #0eb5b5;
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#output {
  font-weight: bolder;
  text-align: left;
  width: 100%;
  word-spacing: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
      width: 80%;
    }
}
